{# 填写回复 #}
<div class="commentPopWrap">
  <div class="commentPopBg"></div>
  <div class="commentPop">
    <textarea class="bg-grey-bg replyText" maxlength="200" rows="4" placeholder="请输入回复内容"></textarea>
    <div class="row border-top text-center font-16">
      <div class="col pt-2 pb-2 commentCancelBtn">取消</div>
      <div class="col pt-2 pb-2 commentOkBtn text-primary">确定</div>
    </div>
  </div>
</div>
