$icomoon-font-path: "fonts" !default;

$icon-font-index: "\e90e";
$icon-font-me: "\e910";
$icon-font-score: "\e911";
$icon-font-slide_nav: "\e915";
$icon-font-star: "\e902";
$icon-font-phone: "\e903";
$icon-font-shopping-cart: "\e900";
$icon-font-star-active: "\e901";
$icon-font-my: "\e932";
$icon-font-close: "\e906";
$icon-font-edit: "\e907";
$icon-font-share: "\e90b";
$icon-font-back: "\e90c";
$icon-font-location: "\e904";

