.ui-hr {
  height: 0;
  line-height: 0;
  border-top: 1px solid #ddd;
  margin: 0.5em 0;
}

.ui-row {
  display: table;
  border-collapse: collapse;
  width: 100%;

  &-2 > &-cell {
    width: 50%;
  }

  &-3 > &-cell {
    width: 33.33333%;
  }

  &-4 > &-cell {
    width: 25%;
  }

  & > &-cell {
    display: table-cell;
    vertical-align: top;

    &-collapse {
      white-space: nowrap;
      width: 1px;
    }

    &-middle {
      vertical-align: middle;
    }
  }
}
