{% extends "layout/mall-mobile.njk" %}

{% block title %}收银台{% endblock %}

{% block content %}
<div ng-controller="PayController">
  <header>
    <div class="app-navbar no-bottom">
      <div class="app-navbar-title">收银台</div>
      <a href="/gp/me" class="app-navbar-link back"><span class="icon-angle-left"></span></a>
    </div>
  </header>
  <div class="pay-price">
    <div class="pay-text">订单金额(元)</div>
    <div class="pay-num"><small class="pay-num-small">&yen;</small>{{totalMoney | price}}</div>
  </div>

  {% include "./pay.option.njk" %}
</div>
{% endblock %}
