
.tags-list {
  background: #fff;
  border: 2px solid #eee;
}

.tags-list img {
  width: 100%;
}

.productlist_name {
  font-size: 14px;
  padding: 5px 5px 0;
  color: $color-dark;
}

.productlist_price {
  font-size: 16px;
  padding-left: 5px;
  padding-right: 5px;
  color: $color-brand-primary;
  .score {
    font-size: 17px;
    color: $color-brand-orange;
  }
}

.productlist_price_del {
  color: #666;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 0.8rem;
  display: block;
}
